* {
  box-sizing: border-box;
}

html {
  width: 100%;
  display: flex;
  flex-flow: column nowrap;
  align-items: stretch;
}

/* Flex containers
*
*  flex-con-4-16
*  flex-con-8-16
*  flex-con-8-24
*  flex-con-12-24
*
*/

/* Set shared defaults */

.flex-con-4-16, .flex-con-8-16,
.flex-con-8-24, .flex-con-12-24 {
  display: flex;
  flex-flow: row wrap;
  align-items: space-evenly;
}

/* Set shared margins */

.flex-con-4-16, .flex-con-8-16 {
  margin-left: 8px;
  margin-right: 8px;
}

.flex-con-8-24, .flex-con-12-24 {
  margin-left: 12px;
  margin-right: 24px;
}

/* Size definitions */

  .flex-con-4-16 {
    width: 95.5%;
    flex-grow: 4;
  }
  
    .col-4-16 {
      width: 95.5%;
      flex-grow: 4;
    }
    
    .col-2-16 {
      width: 41%;
      flex-grow: 2;
    }
    

@media only screen and (min-width: 360px) {

  .flex-con-4-16 {
    width: 95.9%;
    max-width: 399px;
  }
  
    .col-4-16 {
      width: 95.9%;
    }
  
}



@media only screen and (min-width: 400px) {

  .flex-con-4-16 {
    width: 96.6%;
    max-width: 479px;
  }
  
}

@media only screen and (min-width: 480px) {

  .flex-con-4-16 {
    width: 97.3%;
    max-width: 599px;
  }
  
}

@media only screen and (min-width: 600px) {
 
 .flex-con-8-16 {
   width: 97.7%;
   max-width: 719px;
 }
  
}

@media only screen and (min-width: 720px) {
  
  .flex-con-8-24 {
    width: 97.1%;
    max-width: 839px;
  }
  
}

@media only screen and (min-width: 840px) {

  .flex-con-12-24{
    width: 97.4%;
    max-width: 959px;
  }
  
}

@media only screen and (min-width: 960px) {

  .flex-con-12-24{
    width: 97.6%;
    max-width: 1023px;
  }
  
}

@media only screen and (min-width: 1024px) {

  .flex-con-12-24{
    width: 98.1%;
    max-width: 1279px;
  }
  
}

@media only screen and (min-width: 1280px) {

  .flex-con-12-24{
    width: 98.3%;
    max-width: 1439px;
  }
  
}

@media only screen and (min-width: 1440px) {

  .flex-con-12-24{
    width: 98.4%;
    max-width: 1599px;
  }
   
}

@media only screen and (min-width: 1600px) {

  .flex-con-12-24{
    width: 98.7%;
    max-width: 1919px;
  }
   
}

@media only screen and (min-width: 1920px) {

  .flex-con-12-24 {
    width: 98.7%;
  }

}