* {
  box-sizing: border-box;
}

html {
  width: 100%;
  display: flex;
  flex-flow: column nowrap;
  align-items: stretch;
}

/* Flex containers
*
*  flex-con-4-16
*  flex-con-8-16
*  flex-con-8-24
*  flex-con-12-24
*
*/

/* Set shared flex defaults */

.flex-con-4-16, .flex-con-8-16,
.flex-con-8-24, .flex-con-12-24 {
  display: flex;
  flex-flow: row wrap;
  align-items: space-evenly;
}

/* Set shared flex-grow attributes */

.col-1-16, .col-1-24 {
  flex-grow: 1;
}
.col-2-16, .col-2-24 {
  flex-grow: 2;
}
.col-3-16, .col-3-24 {
  flex-grow: 3;
}
.col-4-16, .col-4-24 {
  flex-grow: 4;
}
.col-5-16, .col-5-24 {
  flex-grow: 5;
}
.col-6-16, .col-6-24 {
  flex-grow: 6;
}
.col-7-16, .col-7-24 {
  flex-grow: 7;
}
.col-8-16, .col-8-24 {
  flex-grow: 8;
}
.col-9-16, .col-9-24 {
  flex-grow: 9;
}
.col-10-16, .col-10-24 {
  flex-grow: 10;
}
.col-11-16, .col-11-24 {
  flex-grow: 11;
}
.col-12-16, .col-12-24 {
  flex-grow: 12;
}

/* Set shared margins */

.flex-con-4-16, .flex-con-8-16, .col-1-16, .col-2-16, .col-3-16, .col-4-16,
.col-5-16, .col-6-16, .col-7-16, .col-8-16 {
  margin-left: 8px;
  margin-right: 8px;
}

.flex-con-8-24, .flex-con-12-24, .col-1-24, .col-2-24, .col-3-24, .col-4-24,
.col-5-24, .col-6-24, .col-7-24, .col-8-24, .col-9-24, .col-10-24, .col-11-24,
.col-12-24 {
  margin-left: 12px;
  margin-right: 12px;
}

/* Size definitions */

  .flex-con-4-16 {
    width: 95.54%;
  }
  
    .col-4-16 {
      width: 91.08%;
    }
    
    .col-3-16 {
      width: 67.20%;
    }
    
    .col-2-16 {
      width: 43.31%;
    }
    
    .col-1-16 {
      width: 19.42%;
    }
    

@media only screen and (min-width: 360px) {

  .flex-con-4-16 {
    width: 95.99%;
    max-width: 399px;
  }
  
    .col-4-16 {
      width: 91.98%;
    }
    
    .col-3-16 {
      width: 67.98%;
    }
    
    .col-2-16 {
      width: 43.98%;
    }
    
    .col-1-16 {
      width: 19.98%;
    }
    
}



@media only screen and (min-width: 400px) {

  .flex-con-4-16 {
    width: 96.66%;
    max-width: 479px;
  }
  
    .col-4-16 {
      width: 93.31%;
    }
    
    .col-3-16 {
      width: 69.15%;
    }
    
    .col-2-16 {
      width: 44.99%;
    }
    
    .col-1-16 {
      width: 20.82%;
    }
  
    
  
}

@media only screen and (min-width: 480px) {

  .flex-con-4-16 {
    width: 97.32%;
    max-width: 599px;
  }
  
    .col-4-16 {
      width: 94.65%;
    }
    
    .col-3-16 {
      width: 70.32%;
    }
    
    .col-2-16 {
      width: 45.99%;
    }
    
    .col-1-16 {
      width: 21.66%;
    }
  
}

@media only screen and (min-width: 600px) {
 
 .flex-con-8-16 {
   width: 97.7%;
   max-width: 719px;
 }
  
}

@media only screen and (min-width: 720px) {
  
  .flex-con-8-24 {
    width: 97.1%;
    max-width: 839px;
  }
  
}

@media only screen and (min-width: 840px) {

  .flex-con-12-24{
    width: 97.4%;
    max-width: 959px;
  }
  
}

@media only screen and (min-width: 960px) {

  .flex-con-12-24{
    width: 97.6%;
    max-width: 1023px;
  }
  
}

@media only screen and (min-width: 1024px) {

  .flex-con-12-24{
    width: 98.1%;
    max-width: 1279px;
  }
  
}

@media only screen and (min-width: 1280px) {

  .flex-con-12-24{
    width: 98.3%;
    max-width: 1439px;
  }
  
}

@media only screen and (min-width: 1440px) {

  .flex-con-12-24{
    width: 98.4%;
    max-width: 1599px;
  }
   
}

@media only screen and (min-width: 1600px) {

  .flex-con-12-24{
    width: 98.7%;
    max-width: 1919px;
  }
   
}

@media only screen and (min-width: 1920px) {

  .flex-con-12-24 {
    width: 98.7%;
  }

}