* {
  box-sizing: border-box;
}

html {
  background: #ddd;
}

.container {
  margin-bottom: 10px;
  margin-top: 10px;
  background: #fff;
}
.card {
  background: #ccc;
  height: 100px;
  margin-top: 10px;
  margin-bottom: 10px;
}